<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Wordcloud</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/webjars/clr__ui/clr-ui.min.css"/>
</head>
<body>
<app-root class="layout-documentation page-tables">
    <header class="header-6 header" th:insert="fragments/header.html :: header"></header>
    <div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div id="chart"></div>
        </div>

    </div>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified D3.JS JavaScript -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/webjars/d3-cloud/build/d3.layout.cloud.js"></script>
    <script src="/webjars/axios/dist/axios.min.js"></script>
    <script src="/app.js"></script>
</app-root>
</body>
</html>