<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets</title>
    <link rel="stylesheet" href="/webjars/clr__ui/clr-ui.min.css"/>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<div style="margin-left : 1em; margin-right : 1em ;" class="container">
    <table class="table">

        <thead>
        <tr>
            <th class="left">ID</th>
            <th class="left">Text</th>
            <th class="left">Username</th>
            <th class="left">Created</th>
            <th class="left">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tweet: ${tweets}">
            <td class="left" th:text="${tweet.tweetId}"></td>
            <td class="left" th:text="${tweet.text}"></td>
            <td class="left" th:text="${tweet.username}"></td>
            <td class="left" th:text="${tweet.createDateTime}"></td>
            <td>
                <form th:action="@{/tweetDelete}" th:object="${tweetDel}" method="post">
                    <input type="hidden" name="tweetId" th:value="${tweet.tweetId}">
                    <input type="hidden" name="text" th:value="${tweet.text}">
                    <input type="hidden" name="username" th:value="${tweet.username}">
                    <input type="hidden" name="createDateTime" th:value="${tweet.createDateTime}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

