<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Wordcloud</title>
    <link rel="stylesheet" href="/webjars/clr__ui/clr-ui.min.css"/>
</head>
<body>

<div th:replace="~{fragments/header.html :: header}"></div>

<div id="react"></div>
<script src="built/bundle.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Latest compiled and minified D3.JS JavaScript -->
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="/webjars/d3-cloud/build/d3.layout.cloud.js"></script>
<script src="/webjars/axios/dist/axios.min.js"></script>
<script src="/app.js"></script>
</body>
</html>